@mixin container {
  max-width: 575px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 40px;
  @media (min-width: $breakpoint-desktop) {
    padding: 0 120px;
    max-width: 1200px;
  }
}

@mixin section {
  padding: 150px 0;
  @media (min-width: $breakpoint-desktop) {
    padding: 150px 0;
  }
}

@mixin main-font {
  font-family: $main-font;
  font-size: $font-size-mobile;
  font-style: normal;
  font-weight: 400;
  @media (min-width: $breakpoint-tablet) {
    font-size: $font-size-tablet;
  }
  @media (min-width: $breakpoint-desktop) {
    font-size: $font-size-desktop;
  }
}

@mixin section-title-desktop {
  font-size: $section-title-size;
  font-family: $accent-font;
  margin-bottom: 80px;
  text-align: center;
}

@mixin paragraph-mobile {
  font-size: $font-size-mobile;
  text-align: center;
}
