@import "./variables.scss";
@import "./mixins.scss";
@import "./styles.scss";

.wrapper {
  position: relative;
  overflow: hidden;
}

.content {
  position: relative;
  will-change: transform;
}

.modal__menu .container {
  @media (min-width: $breakpoint-tablet) and (max-width: 1280px) {
    padding: 40px;
  }
  .list-nav.portfolio__list-nav {
    margin: 200px 0;
    @media (min-width: $breakpoint-tablet) {
      margin: 160px 0;
    }
    @media (min-width: 1280) {
      margin: 200px 0;
    }
  }
}
body {
  background-color: $bg-color;
  .main-section {
    overflow: clip;
  }
  .main-nav {
    padding-bottom: 40px;
  }
  .section-title {
    font-weight: 400;
    font-size: 40px;
    @media (min-width: $breakpoint-tablet) {
      font-size: 80px;
    }
  }
  .footer {
    padding-top: 120px;
  }
}

.portfolio__header {
  @media (min-width: $breakpoint-tablet) {
    padding: 0 120px;
  }
}

.header__item {
  padding: 70px 0;
}

.main-section {
  position: relative;
  margin-bottom: 40px;
  @media (min-width: $breakpoint-tablet) {
    margin-bottom: 80px;
  }
  .port-item__img {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
  }
}

.info__text {
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    max-width: 320px;
    color: $secondary-color;
    font-size: $font-size-mobile;
    @media (min-width: $breakpoint-tablet) {
      max-width: 700px;
      font-size: $font-size-tablet;
    }
    @media (min-width: 1280px) {
      font-size: $font-size-desktop;
      max-width: 900px;
    }
  }
}

.list-skills {
  justify-content: center;
  margin-top: 70px;
  margin-bottom: 90px;
  padding: 30px 0;
  display: flex;
  gap: 38px;
  border-top: 1px solid $footer-color;
  border-bottom: 1px solid $footer-color;
  @media (min-width: $breakpoint-tablet) {
    margin-top: 90px;
    margin-bottom: 120px;
    padding: 50px 0;
  }
  p {
    font-size: $font-size-mobile;
    @media (min-width: $breakpoint-tablet) {
      font-size: $font-size-tablet;
    }
    @media (min-width: $breakpoint-desktop) {
      font-size: $font-size-desktop;
    }
  }
}

.portfolio__list-skills {
  margin-bottom: 60px;
}

.list-skills.portfolio__long-list-skills {
  @media (max-width: 767px) {
    gap: 20px;
  }
}

.colors {
  display: flex;
  justify-content: center;
  .colors-item {
    overflow: hidden;
    position: relative;
    width: 70px;
    height: 70px;
    &:hover,
    &:focus,
    &:focus-within {
      cursor: pointer;
      div {
        transform: translateY(0);
      }
    }
    @media (min-width: $breakpoint-tablet) {
      width: 100px;
      height: 100px;
    }
    div {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      font-size: 14px;
      top: 0;
      width: 100%;
      height: 100%;
      transform: translateY(100%);
      transition: $transition-move;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      @media (min-width: $breakpoint-tablet) {
        font-size: $font-size-tablet;
      }
      p {
        color: $forth-color;
      }
    }
  }
}

.demonstration {
  .container {
    position: relative;
    margin-top: 170px;
    .btn__works::before {
      left: 45%;
    }
  }
}

.btn__works {
  color: $secondary-color;
  margin-top: 100px;
  position: relative;
  color: $secondary-color;
  text-align: center;
  display: block;
  &:hover {
    &::before {
      transform: translateX(10px);
    }
    &::after {
      transform: translateX(-10px);
    }
  }
  &::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    transform: none;
    top: -7px;
    left: 120px;
    z-index: -1;
    background-color: $sixth-color;
    transition: transform 0.7s cubic-bezier(0.44, 0.5, 0.55, 0.56);
    @media (min-width: $breakpoint-tablet) {
      left: 430px;
    }
  }
  &::after {
    content: "";
    position: absolute;
    width: 100%;

    background-image: url(../img/arrow.svg);
    background-repeat: no-repeat;
    background-position: center;

    height: 10px;
    bottom: 5px;

    left: 58px;
    transition: all 1.3s ease;
  }
}

.portfolio__prototype-part1 {
  margin-left: auto;
  div {
    position: absolute;
    .portfolio__mobile-mockup-img {
      max-width: 120px;
      @media (min-width: $breakpoint-tablet) {
        max-width: 550px;
      }
      @media (min-width: 1280px) {
        max-width: none;
      }
    }
  }
}

.portfolio__prototype-part2 {
  position: relative;
  margin: -7px 0 50px 0;
  div {
    position: absolute;

    .portfolio__error-mockup-img {
      max-width: 250px;
      @media (min-width: $breakpoint-tablet) {
        max-width: 550px;
      }
      @media (min-width: 1280px) {
        max-width: none;
      }
    }
  }
}

.portfolio__mockup {
  max-width: 100%;
}

.portfolio__img-mockup {
  margin-top: -7px;
}

.portfolio-item__video {
  width: 100%;
  height: auto;
  object-fit: cover;
  aspect-ratio: 24 / 16;
}

///////////////      MASFOR      /////////////

.masfor__sneaker {
  position: absolute;
  top: 20%;
  left: 35%;
  @media (min-width: $breakpoint-tablet) {
    top: 25%;
    left: 45%;
  }
  @media (min-width: 1280px) {
    top: 20%;
  }
  .masfor__img-sneaker {
    width: 350px;
    @media (min-width: $breakpoint-tablet) {
      width: 565px;
      margin-left: 50px;
    }
    @media (min-width: 1280px) {
      width: 794px;
      margin-left: 0;
    }
  }
}

.colors__masfor {
  li {
    &:first-child {
      background-color: #282129;
      p {
        color: $secondary-color;
      }
    }
    &:nth-child(2) {
      background-color: #9c999c;
    }
    &:nth-child(3) {
      background-color: #ececec;
    }
    &:last-child {
      background-color: #a77545;
    }
  }
}

.mockup-iph__masfor {
  position: absolute;
  max-width: 125px;
  top: 10%;
  left: 65%;
  @media (min-width: $breakpoint-tablet) {
    top: 17%;
    left: 75%;
    max-width: 245px;
  }
  @media (min-width: $breakpoint-desktop) {
    top: 205px;
    left: 870px;
    max-width: 445px;
  }
}

///////////////      COZYCASA      /////////////

.cozycasa__mobile-mockup {
  top: 7%;
  left: 3%;

  @media (min-width: $breakpoint-tablet) {
    left: 6%;
  }
  @media (min-width: 1280px) {
    left: 3%;
  }
}

.cozycasa__error-mockup {
  position: absolute;
  top: 45%;
  left: 40%;
  @media (min-width: $breakpoint-tablet) {
    top: 45%;
    left: 45%;
  }
  @media (min-width: 1280px) {
    top: 40%;
    left: 40%;
  }
}

.colors__cozycasa {
  li {
    &:first-child {
      background-color: #f0f0f0;
    }
    &:nth-child(2) {
      background-color: #c3c4c8;
    }
    &:nth-child(3) {
      background-color: #6d6e71;
    }
    &:nth-child(4) {
      background-color: #accd07;
    }
    &:last-child {
      background-color: #7d9c04;
    }
  }
}

///////////////      CRSTUDIO      /////////////

.colors__crstudio {
  li {
    &:first-child {
      background-color: #303030;
      p {
        color: $secondary-color;
      }
    }
    &:nth-child(2) {
      background-color: #555555;
      p {
        color: $secondary-color;
      }
    }
    &:nth-child(3) {
      background-color: #f7f7f7;
    }
    &:last-child {
      background-color: #e98248;
    }
  }
}
.portfolio__prototype-part2 div {
  .portfolio__mobile-mockup-img.crstudio__mobile-mockup-img {
    transform: rotate(45deg);
    max-width: 120px;
    @media (min-width: $breakpoint-tablet) {
      max-width: 250px;
    }
    @media (min-width: 1280px) {
      max-width: 280px;
    }
  }
}

.crstudio__mobile-mockup {
  top: 2%;
  left: 50%;
  @media (min-width: $breakpoint-tablet) {
    left: 56%;
  }
  @media (min-width: 1280px) {
    left: 50%;
  }
}

///////////////      ROAD TIME      /////////////

.colors__roadtime {
  li {
    &:first-child {
      background-color: #f1f1f1;
    }
    &:nth-child(2) {
      background-color: #bead8d;
    }
    &:nth-child(3) {
      background-color: #686d6f;
    }
    &:last-child {
      background-color: #2c2c2d;
      p {
        color: $secondary-color;
      }
    }
  }
}

.portfolio__roadtime-img-mockup {
  margin-left: 150px;
}

.roadtime__mobile-mockup-img {
  position: absolute;
  top: 15%;
  left: 15%;
  max-width: 25%;
}
